

<!-- Below is some sample data for wireframing purposes -->
<div class="container">

	<div class="card-panel blue lighten-4 col s10 offset-s1 z-depth-3">
		<h4>Weekly Agenda</h4>
		<h6 class="agenda_header">Today, Wednesday October 7</h6>
			<% @events.each do |e| %>
			<div class="row" style="margin-bottom: 0px;">
			    <div class="col s2"><%= e.start_time.strftime('%I:%M %p') %></div>
			    <div class="col s6"><%= e.short_description %></div>
			    <div class="col s4">
			    	<a href="agenda"><i class="material-icons">mode_edit</i></a>
			    	<a href="agenda"><i class="material-icons">delete</i></a>
			    </div>
			</div>
			<% end %>
		<h6 class="agenda_header">Thursday October 8</h6>
		<h6 class="agenda_header">Friday October 9</h6>
		<h6 class="agenda_header">Saturday October 10</h6>
		<h6 class="agenda_header">Sunday October 11</h6>
	</div>
</div>