<h4>Weekly Agenda</h4>

<!-- Below is some sample data for wireframing purposes -->
<% for day in @this_week_events %>
	<!-- Display the Day of the Week as the Header -->
	<h6 class="agenda_header"><%= day[0].strftime('%A %b %e') %></h6>
		<!-- Display the events during the day -->
		<% for event in day[1] %>
		<!-- <%= debug event %> -->
			<div class="row" style="margin-bottom: 0px;">
				<div class="col s1">Start Time</div>
			    <div class="col s6"><%= event.short_description %></div>
			   	<div class="col s5">
			   		<a href="agenda"><i class="material-icons">mode_edit</i></a>
	    			<a href="agenda"><i class="material-icons">delete</i></a>
			   	</div>
			</div>	
		<% end %>
		<!-- If no events, display message: no events -->
		<% if day[1].empty? %>
			<div class="row" style="margin-bottom: 0px;">
				<div class="col s12">No events yet.</div>
			</div>
		<% end %>
<% end %>
<!-- <h6 class="agenda_header">Today, Sunday October 4</h6>
	<div class="row" style="margin-bottom: 0px;">
	    <div class="col s1">11:30 AM</div>
	    <div class="col s6">Brunch at Pamela's</div>
	    <div class="col s5">
	    	<a href="agenda"><i class="material-icons">mode_edit</i></a>
	    	<a href="agenda"><i class="material-icons">delete</i></a>
	    </div>
	</div>
	<div class="row" style="margin-bottom: 0px;">
	    <div class="col s1">2:30 PM</div>
	    <div class="col s6">Enter M2C Grades</div>
	   	<div class="col s5">
	    	<a href="agenda"><i class="material-icons">mode_edit</i></a>
	    	<a href="agenda"><i class="material-icons">delete</i></a>
	    </div>
	</div>
	<div class="row" style="margin-bottom: 0px;">
	    <div class="col s1">8:00 PM</div>
	    <div class="col s6">Work on Agenda and Calendar Views</div>
	    <div class="col s5">
	    	<a href="agenda"><i class="material-icons">mode_edit</i></a>
	    	<a href="agenda"><i class="material-icons">delete</i></a>
	    </div>
	</div>
<h6 class="agenda_header">Monday October 5</h6>
<h6 class="agenda_header">Tuesday October 6</h6>
<h6 class="agenda_header">Wednesday October 7</h6>
<h6 class="agenda_header">Thursday October 8</h6>
<h6 class="agenda_header">Friday October 9</h6>
<h6 class="agenda_header">Saturday October 10</h6> -->
