<!-- Agenda View -->
<div class="container">
	<div class="card-panel blue lighten-4 col s10 offset-s1 z-depth-3">
		<h4>Weekly Agenda</h4>
		<%for day in @this_week_events %>
			<!-- Display the Day of the Week as the Header -->
			<h6 class="agenda_header"><%= day[0].strftime('%A %b %e') %></h6>
			<!--Display the events during the day -->
			<%for event in day[1] %>
				<div class="row" style="margin-bottom: 0px;">
					<div class="col s3"><%= event.start_time.strftime('%I:%M %p') %></div>
				    <div class="col s6"><%= event.short_description %></div>
				   	<div class="col s3">
				   		<a href="agenda"><i class="material-icons">mode_edit</i></a>
		    			<a href="agenda"><i class="material-icons">delete</i></a>
				   	</div>
				</div>	
			<% end %>
			<!-- If there's no events on that day...-->
			<% if day[1].empty? %>
				<div class="row" style="margin-bottom: 0px;">
					<div class="col s12">No events yet.</div>
				</div>
			<% end %>
		<% end %>
		
	</div> <!-- Closes Card Panel-->
</div> <!-- Closes Container-->


