<div class="container">
	<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add Event</a>
	<div id='calendar'></div>
</div>

 

<div id="eventContent" title="Event Details">
    <div id="eventInfo"></div>
    <div id="startTime"></div>
    <div id="endTime"></div>
    <p><strong><a id="eventLink" target="_blank">Read More</a></strong></p>
</div>


  <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
  	<div class="container">
  		<div class="col s4">
  		<div class="card grey lighten-3">
            <div class="card-content white-text">
              <span class="card-title grey-text">Add Event</span>
            </div>
            <div class="card-action">
              <%= render "events/form2" %>
            </div>
          </div>
	</div>
  </div>
