<!-- Page Layout here -->

<!-- Main Dashboard Content -->
<div class="row">
	<div class="col s6">
	    <!-- Main Panel -->
	    <div class="container">
			<div id='mini_calendar'></div>
		</div>
	</div> <!--Closes Main Panel -->

  <div class="col s6">
    <!-- Side Panel  -->
        <!-- Display Today's Tasks -->
    	<% if @events.nil? %>
		  <h4> You have no events yet! <%= link_to "Schedule an event", events_path %> </h4>
		<% else %>
			<h4 class="dashboard_header">Today's Tasks</h4>
			<ol id="dash_list">
			<% @todays_events[1].each do |event| %>
				<div class="row" style="margin-bottom: 0px;">
					<div class="col s8">
		    			<li><%= link_to event.short_description, event %></li>
		    		</div>
		    		<div class="col s4">
		    			<span class="dismiss_links"><%= link_to "Dismiss", event %></span>
		    		</div>
		    	</div>
			<% end %>
			</ol>
		<% end %>

		<!-- Advanced functionality -->
		<h4>Preferences</h4>
		<a class="waves-effect waves-light btn pref-btn" href="/preferences"><i class="material-icons left">mood</i>Update Scheduler Preferences</a>

  </div> <!--Closes Side Panel -->

</div>
