<!-- Page Layout here -->

<!-- Main Dashboard Content -->
<div class="row">
	<div class="col s6">
	    <!-- Main Panel -->
	    <div class="container">
			<div id='mini_calendar'></div>
		</div>
	</div> <!--Closes Main Panel -->

  <div class="col s6">
    <!-- Side Panel  -->
        <!-- Display Today's Tasks -->
       	<h4 class="dashboard_header">Today's Remaining Tasks</h4>
    	<% if !@remaining_events.present? %>
		  <p> You finished all your tasks for today! To schedule a new task,  <%= link_to "click here", events_path %> </p>
		<% else %>
			<ol id="dash_list">
			<% @remaining_events.each do |event| %>
				<div class="row remaining-event" style="margin-bottom: 0px;">
					<div class="col s8">
		    			<li><%= link_to event.short_description, event %></li>
		    		</div>
		    		<div class="col s4">
		    			<%= link_to finished_path(event.id), :remote => true do %>
							<span class="dismiss_links">Dismiss</span>
						<% end %>
		    		</div>
		    	</div>
			<% end %>
			</ol>
		<% end %>

		<br/>

		<!-- Advanced functionality -->
		<h4>Preferences</h4>
		<a class="waves-effect waves-light btn pref-btn" href="/preferences"><i class="material-icons left">mood</i>Update Scheduler Preferences</a>

  </div> <!--Closes Side Panel -->

</div>
