<!-- Navigation Bar Partial - To Be Included on Every Page -->
<nav>
  <div class="nav-wrapper">
    <!-- Route to Root/Homepage -->
    <a href="/" class="brand-logo" id="logo">Schedule Me This!</a>

    <ul class="brand-logo center">
      <div class="chip" id="chip-notice">
        <li id="notice"></li>
        <i class="material-icons">close</i>
      </div>
    </ul>

    <ul class="right hide-on-med-and-down">
      <!-- Agenda View -->
      <li><a href="calendar"><i data-toggle="tooltip" title="View your calendar"class="material-icons">today</i></a></li>
      <!-- Calendar View -->
      <li><a href="agenda"><i data-toggle="tooltip" title="View your agenda" class="material-icons">view_list</i></a></li>
      <!-- Add a New Task -->
      <li><a href="events"><i data-toggle="tooltip" title="Add an event" class="material-icons">library_add</i></a></li>
      <!-- User Login/Logout -->
      <% if user_signed_in? %>
      <li><%= link_to destroy_user_session_path, method: :delete do %>
	  <i data-toggle="tooltip" title="Logout" class="material-icons">assignment_ind</i>
	<% end %>
      </li>
      <% else %>
      <li>
        <%= link_to new_user_session_path do %>
	  <i data-toggle="tooltip" title="Login" class="material-icons">assignment_ind</i>
	<% end %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
