<!-- Navigation Bar Partial - To Be Included on Every Page -->
<nav>
  <div class="nav-wrapper">
    <!-- Route to Root/Homepage -->
    <a href="/" class="brand-logo">Schedule Me This!</a>
    <ul class="right hide-on-med-and-down">
      <!-- Agenda View -->
      <li><a href="calendar"><i class="material-icons">today</i></a></li>
      <!-- Calendar View -->
      <li><a href="agenda"><i class="material-icons">view_list</i></a></li>
      <!-- Add a New Task -->
      <li><a href="events"><i class="material-icons">library_add</i></a></li>
      <!-- User Preferences/User Account-->
      <li><a href="user"><i class="material-icons">assignment_ind</i></a></li>
    </ul>
  </div>
</nav>