<ul class="collection with-header">
	<li class="collection-header"><h5>Past Tasks</h5></li>
	<% @nc_events.each do |e| %>
		<!-- div class="row col s10" id="event_boxes"-->
			<li class="collection-item black-text">
				<p id="past_tasks">
					<%= e.short_description %>
				</p>
				<%= link_to finished_path(e.id), :remote => true do %>
					<a class="btn-floating btn-small waves-effect waves-light green"  id="finished"><i class="material-icons">done</i></a>
				<% end %>
				<%= link_to reschedule_path(e.id), :remote => true do %>
					<a class="btn-floating btn-small waves-effect waves-light red" id="reschedule"><i class="material-icons">replay</i></a>
				<% end %>
			</li>
		<!-- /div-->

    <% end %>
</ul>
