/*Set Color Scheme for Application*/
@import "materialize/components/color";
$primary-color: color("blue", "darken-1") !default;
@import "materialize";
@import "owl.carousel";
@import "owl.theme";
@import "fullcalendar";
@import "schedules";
@import "jquery.ui.all";

#main_container{
	/*Set the Main Container (Where All the Elements - Nav, Footer, Body) is housed to full width*/
	width: 100%;
}

/*Logo on Nav bar*/
#logo{
	padding: 5px;
}

#chip-notice{
	display: none;
	background-color: #4db6ac;
}

.brand-logo.center{
	padding-top: 2%;
}

#main_content{
	/*Add some space between the main content and the body container (main container)*/
	margin: 5px;
}

.agenda_header{
	font-size: 1.5em;
	color: #1e88e5;
}


#calendar{
	/*Constrain the calendar container to 98% of the screen for whitespace*/
	width: 98%;
	padding-top: 5px;
}

/*CRUD icons for Events/Schedules*/
.btn-icons{
	margin-right: 2px;
}

.edit-btn{
	/*color: orange;*/
}

.delete-btn{
	color: red;
}
