// Place all the styles related to the Schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dash_list{
	font-size: 1.5em;
	padding-left: 5%;
	padding-right: 1%;
	margin-left:3%;
	margin-right: 25%;
}

.dismiss_links{
	/*Customize style for Dismiss links*/
}

#finished {
	float: left;
}

#reschedule {
	float: right;
}

.dashboard_header{
	/*Important to keep this in there so that it aligns with the other elements top*/
	margin-top: 0px;
}

.pref-btn{
	/*Preferences Button on Dashboard*/
	background-color: #039be5;
}