<div class="container">
  <div class="row">
    <div class="card-panel blue lighten-4 col s8 offset-s2">
      <div class="col s6">
      <h4>Events</h4>
        <%= link_to new_event_path, remote: true do %>
          <button class="btn btn-default">New</button>
        <% end %></br></br>
        <div id="event-form" style="display:none;"></div>
      </div>
      </br>
      <div class="col s6" id="events"><%= render @events %></div></br>
    </div>
  </div>
</div>
</br></br>
<%= render 'partials/reschedule_bar' %>
