  <div class="row">
    <div class="card-panel blue-grey lighten-5 col s8 offset-s2">
      <div class="col s7">
        <h4 id="event_title">Events</h4>
        </br>
        <!-- Button to Add New Event -->
        <%= link_to new_event_path, remote: true do %>
          <button class="btn btn-default">New</button>
        <% end %></br></br>
        <div class="z-depth-2" id="event-form" style="display:none;"></div>
      </div>
      </br>
      <!-- Display Recently Created Events -->
      <div class="col s5" id="events">
        <!-- If no recent created events (ie new users) -->
        <% if @rc_events.nil? %>
          <span>You have not added any events in the system. To add a new event or task, click on the NEW button on the left to get started!</span>
        <% else %>
          <h5 id="recent_events_header">Recently Added Events</h5> 
          <%= render @rc_events %>
        <% end %>
      </div></br>
    </div>
  </div>
</br></br>
